<row>
    <columns>
        <spacer size="40"></spacer>
        <button href="\{{company_link}}" class="parthers__btn expanded rounded large">Перейти на страницу
            компании</button>
        <spacer size="17"></spacer>
    </columns>
</row>
<row>
    <columns>
        <p class="parthers__p"><span class="nowrap">Если у вас возникли вопросы, вы можете обратиться к нам по номеру</span></br>
            <a href="tel:88007005240" target="_blank"><strong class="strong strong_underline">8 800 700 52
                    40</strong></a>
            или написав на <a href="mailto:support@b2bfamily.com" target="_blank"><strong
                    class="strong strong_underline">support@b2bfamily.com.</strong></a></p>
    </columns>
</row>