<row>
        <columns class="first" style="min-width: 120px;">
                <img
                    src="https://gallery.mailchimp.com/75047e25381a9ee1c3d513466/images/888a8fcd-1d2f-4491-ab81-904377816e28.png">
        </columns>
        <columns>
                <p class="parthers__p nowrap"><strong class="strong">Максим Киселев</strong></p>
                <p class="parthers__p nowrap">Директор по работе с партнерами «B2B Family»</p>
                <p class="parthers__p nowrap">e-mail: mkiselev@b2bfamily.com </p>
                <p class="parthers__p nowrap">tel: +7 910 10 99 647</p>
                <p class="parthers__p nowrap">skype: mn_kiselev</p>
        </columns>
        <columns class="last">
        </columns>
</row>
<spacer size="40"></spacer>