<row>
    <columns>
        <spacer size="24"></spacer>
        <p class="parthers__p">А пока посмотрите <a href="https://youtu.be/wLXa8FiKsLw" target="_blank"><strong
                    class="strong strong_underline">видео об основных возможностях сервиса.</strong></a></p>
        <spacer size="24"></spacer>
        <p class="parthers__p">Или посетите <a href="https://blog.b2bfamily.com" target="_blank"><strong
                    class="strong strong_underline">наш блог</strong></a>, там есть много полезной информации,
            сценарии
            использования сервиса и кейсы от наших клиентов.</p>
        <spacer size="44"></spacer>
    </columns>
</row>