<container class="parthers__footer">
    <wrapper class="secondary">
        <spacer size="60"></spacer>
        <row>
            <columns large="3" small="3"></columns>
            <columns large="12" small="12">
                <container>
                    <wrapper class="secondary">
                        <row>
                            <columns large="2" small="3" class="first">
                                <a href="https://www.facebook.com/b2bfamily" target="_blank"><img
                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-facebook-48.png"
                                        style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                        height="24" width="24" align="center"
                                        class="float-center"></a>
                            </columns>
                            <columns large="2" small="3">
                                <a href="https://vk.com/b2bfamily" target="_blank"><img
                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-vk-48.png"
                                        style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                        height="24" width="24" align="center"
                                        class="float-center"></a>
                            </columns>
                            <columns large="2" small="3">
                                <a href="https://www.youtube.com/channel/UC_QCgS4ueGSJfULTkpiMklg"
                                    target="_blank"><img
                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-youtube-48.png"
                                        style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                        height="24" width="24" align="center"
                                        class="float-center"></a>
                            </columns>
                            <columns large="2" small="3" class="last">
                                <a href="https://b2bfamily.com?utm_source=welcomenewsletteramo&utm_medium=email&utm_campaign=letter-2"
                                    target="_blank"><img
                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-link-48.png"
                                        style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                        height="24" width="24" align="center"
                                        class="float-center"></a>
                            </columns>
                        </row>
                    </wrapper>
                </container>
            </columns>
            <columns large="3" small="3"></columns>
        </row>
        <spacer size="35"></spacer>
        <row>
            <columns large="1" class="first"></columns>
            <columns large="12" class="underline"></columns>
            <columns large="1" class="last"></columns>
        </row>
        <spacer size="30"></spacer>
        <row class="collapse">
            <columns large="1" small="2" class="first"></columns>
            <columns large="10" small="7">
                <p class="parthers__p text-center" style="font-size: 11px">Чтобы регулярно и без
                    проблем получать рассылку, пожалуйста, </br> добавьте
                    адрес <a
                        href="mailto:bro@b2bfamily.com?subject=%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81%20%D0%BF%D0%BE%20%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%83%20b2bfamily&body=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C!%0A"
                        target="_blank"><span style="color:#000000">bro@b2bfamily.com</span></a> в
                    свою адресную книгу.
                </p> </br>
                <p class="parthers__p text-center" style="font-size: 11px">Если вы не хотите
                    получать эти письма, <a href="\{{unsubscribe_from_mailing_link}}" target="_blank"><span
                            style="color:#000000">отпишитесь от рассылки</span></a>.</p>
            </columns>
            <columns large="1" small="2" class="last"></columns>
        </row>
        <spacer size="70"></spacer>
    </wrapper>
</container>